<div class="container"><br>
	<form [formGroup]="details">
		<div class="row">
			<div class="col-12">
				<span class="text-dark">App logo: </span>
				<input type="file" formControlName="logo" [(ngModel)]="otherDetails.logo" (change)="logoImage($event)">
			</div>
			<div class="col-md-6">
				<h6 class="text-primary">Privacy Policy: </h6>
				<ckeditor [config]="config" formControlName="policy" [(ngModel)]="otherDetails.policy"></ckeditor>
			</div>
			<div class="col-md-6">
				<h6 class="text-primary">Terms and Condition:</h6>
				<ckeditor [config]="config" formControlName="terms" [(ngModel)]="otherDetails.terms"></ckeditor>
			</div>

			<div class="col-md-12">
				<input type="submit" name="" class="btn btn-primary float-right ml-auto"
					(click)="extraDetails(otherDetails)" [disabled]="!details.valid">
			</div>

			<div class="col-md-6 privacy" *ngFor="let other of other_details">
				<h3 class="text-primary">Privacy: </h3>
				<div class="card p-3">
					<span [innerHTML]="other.policy"></span>
				</div>
			</div>
			<div class="col-md-6 terms" *ngFor="let other of other_details">
				<h3 class="text-primary">Terms & Condition: </h3>
				<div class="card p-3">
					<span [innerHTML]="other.terms"></span>
				</div>
			</div>
		</div>
	</form>
</div>