<div class="container">
	<div class="row">
		<button class="btn btn-primary float-right ml-auto" data-toggle="modal"
			data-target="#modaladdTechnologyForm">Add
			Sub-Admin</button>

		<div class="card" id="allRecords">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">All Sub-Admin</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<th>Name</th>
							<th>Email</th>
							<th>Date Of Joining</th>
							<th class="text-center" colspan="2">Action</th>
						</thead>
						<tbody>
							<tr *ngFor="let subadmin of subadmin_array">
								<td>{{subadmin.firstName}} {{subadmin.lastName}}</td>
								<td>{{subadmin.email}}</td>
								<td>{{subadmin.createdAt| date: 'short'}}</td>
								<td class="text-center"> <i class="fas fa-edit" aria-hidden="true" data-toggle="modal"
										data-target="#myModal" (click)="editSubAdmin(subadmin)"
										style="cursor:pointer;"></i></td>
								<td class="text-center"><i class="fas fa-trash" style="cursor:pointer;"
										(click)="deleteSubAdmin(subadmin.userId)"></i>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modaladdTechnologyForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Add Sub-Admin</h4>
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-3">
				<form [formGroup]="subadminForm">
					<div class="col-md-12">
						<div class="form-group">
							<div class="form-group">
								<label class="bmd-label-floating">FirstName</label>
								<input type="text" class="form-control" formControlName="firstName"
									[(ngModel)]="subadmin.firstName">
							</div>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label class="bmd-label-floating">LastName:</label>
								<input type="text" class="form-control" formControlName="lastName"
									[(ngModel)]="subadmin.lastName">
							</div>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label class="bmd-label-floating">Email:</label>
								<input type="email" class="form-control" formControlName="email"
									[(ngModel)]="subadmin.email">
							</div>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label class="bmd-label-floating">Password:</label>
								<input type="password" class="form-control" formControlName="password"
									[(ngModel)]="subadmin.password">
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-primary" name="categories_submit"
							[disabled]="!subadminForm.valid" (click)="addSubAdmin(subadmin)">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Update Sub-Admin</h4>
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="editsubadminForm" *ngIf="singleSubAdmin">
					<input type="text" id="hey" value="{{singleSubAdmin.userId}}" hidden>

					<div class="form-group">
						<label for="pwd" class="bmd-label-floating">First Name:</label>
						<input class="form-control" type="text" formControlName="firstName"
							[(ngModel)]="singleSubAdmin.firstName">
					</div>

					<div class="form-group">
						<label for="pwd" class="bmd-label-floating">Last Name:</label>
						<input class="form-control" type="text" formControlName="lastName"
							[(ngModel)]="singleSubAdmin.lastName">
					</div>

					<div class="form-group">
						<label for="pwd" class="bmd-label-floating">Email:</label>
						<input class="form-control" type="text" formControlName="email"
							[(ngModel)]="singleSubAdmin.email">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="updateSubAdmin(editsubadminForm.value )">Update</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal"
					(click)="resetUpdateForm()">Close</button>
			</div>
		</div>
	</div>
</div>