<div class="card" id="allRecords">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Pending News List</h4>
  </div>
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <th>Sr. No.</th>
          <th>NewsTitle</th>
          <th>NewsCategory</th>
          <th>CreatedBy</th>
          <th>CreatedAt</th>
          <th>Approve</th>
          <th>Reject</th>
        </thead>
        <tbody *ngFor="let news of newList;let i=index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{news.newsTitleEnglish}}</td>
            <td>{{news.newsCategory}}</td>
            <td>{{news.createdBy.email}}</td>
            <td>{{news.createdAt | date: 'short'}}</td>
            <td><i class="fa fa-check-circle fa-3x" (click)="approveNews(news.newsId)" aria-hidden="true"></i></td>
            <td><i class="fa fa-times fa-3x" (click)="rejectNews(news.newsId)" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>