<div class="card" id="allRecords">
  <div class="card-header card-header-primary">
    <h4 class="card-title ">Pending News List</h4>
  </div>
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <th>Sr. No.</th>
          <th>NewsTitle</th>
          <th>NewsCategory</th>
          <th>CreatedBy</th>
          <th>CreatedAt</th>
          <th>Approve</th>
          <th>Reject</th>
        </thead>
        <tbody
          *ngFor="let news of newList|paginate: { id: 'pagination2',itemsPerPage: 5, currentPage: Page };let i=index">
          <tr>
            <td>{{(5*(Page-1)+i)+1}} </td>
            <td>{{news.newsTitleEnglish}}</td>
            <td>{{news.newsCategory}}</td>
            <td>{{news.createdBy.email}}</td>
            <td>{{news.createdAt | date: 'short'}}</td>
            <td><i class="fa fa-check-circle fa-3x" style="cursor:pointer;" (click)="approveNews(news.newsId)"
                aria-hidden="true"></i></td>
            <td><i class="fa fa-times fa-3x" style="cursor:pointer;" (click)="rejectNews(news.newsId)"
                aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
      <div class="justify-content-center w-100">
        <pagination-controls id="pagination2" (pageChange)="Page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>