<div class="container">
	<div class="row">

		<div class="col-md-12">

			<h3 class="text-primary font-weight-bold">Add New Trivia Post</h3>
			<form [formGroup]="news_form" (ngSubmit)="addNews()">
				<div class="row">
					<div class="col-md-4">
						<select formControlName="categoryId" class="form-control form-control-sm">
							<option selected="selected" disabled="disabled" value="">Choose category</option>
							<option *ngFor="let category of category_array" value="{{category.categoryId}}">
								{{category.categoryTitle}}
							</option>
						</select>
					</div>
					<div class="col-md-4">
						<select formControlName="newsType" class="form-control form-control-sm">
							<option selected="selected" disabled="disabled" value="">Choose Template</option>
							<option value="shortnews">Short News</option>
							<option value="twoslides">Two Slides</option>
							<option value="multipleslides">Multiple Slides</option>
						</select>
					</div>
					<div class="col-md-4 form-group-custom">
						<div class="form-group">
							<input type="file" accept=".jpeg, .jpg, .png, .gif" formControlName="newsImage"
								name="categoryImage" required="required" (change)="news_image($event)">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mt-3">
						<div class="form-group">
							<label class="bmd-label-floating" for="comment">News Title (English):</label>
							<textarea class="form-control" formControlName="newsTitleEnglish" name="categoryTitle"
								required="required" rows="3" id="comment"></textarea>
						</div>
					</div>
					<div class="col-md-6 mt-3">
						<div class="form-group">
							<label class="bmd-label-floating" for="comment">News Title (Hindi):</label>
							<textarea class="form-control" formControlName="newsTitleHindi" name="categoryTitle"
								required="required" rows="3" id="comment"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						News (English):<br>
						<ckeditor formControlName="newsEnglish" [config]="config"></ckeditor><br><br>
					</div>
					<div class="col-md-6">
						News (Hindi):<br>
						<ckeditor formControlName="newsHindi" [config]="config"></ckeditor><br><br>
					</div>
				</div>


				<input type="submit" name="categories_submit" [disabled]="!news_form.valid"
					class="btn btn-primary mb-5">
			</form>
		</div>
		<div class="card" id="allRecords">
			<div class="card-header card-header-primary">
				<h4 class="card-title ">All Trivia Post</h4>
			</div>
			<div class="card-body">
				<div class="table table-responsive">
					<table class="table">
						<thead>
							<th>Title</th>
							<th>Category</th>
							<th class="text-center">Edit</th>
							<th class="text-center">Delete</th>
							<th>Date</th>
							<th class="text-center">English Views</th>
							<th class="text-center">Hindi Views</th>
							<th class="text-center">News Status</th>
						</thead>
						<tbody>
							<tr *ngFor="let news of news_array | paginate: { itemsPerPage: 3, currentPage: P }">
								<td>{{news.newsTitleEnglish}}</td>
								<td>
									<!-- <div class="news_description" [innerHTML]="news.newsEnglish"></div> -->
									{{news.newsCategory}}
								</td>
								<td class="text-center"><i class="fas fa-edit" style="cursor:pointer"
										data-toggle="modal" data-target="#myModal" (click)="editNews(news)"
										aria-hidden="true"></i></td>
								<td class="text-center"><i class="fas fa-trash" style="cursor:pointer"
										(click)="deleteNews(news.newsId)" aria-hidden="true"></i>
								</td>
								<td>{{news.createdAt | date: 'short'}}</td>
								<td class="text-center">{{news.englishViews}}</td>
								<td class="text-center">{{news.hindiViews}}</td>
								<td class="text-center">{{news.isApproved}}</td>
							</tr>
						</tbody>
					</table>
					<div class="justify-content-center w-100">
						<pagination-controls (pageChange)="P = $event"></pagination-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Edit News</h4>
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body mx-3">
				<form [formGroup]="editnews_form" *ngIf="singleNews">
					<input type="text" id="hey" hidden value="{{singleNews.newsId}}">
					<div class="col-md-12">

						<div class="form-group">
							<label class="bmd-label-floating">NewsTitle(English)</label>
							<input class="form-control" type="text" formControlName="newsTitleEnglish"
								[(ngModel)]="singleNews.newsTitleEnglish">
						</div>


						<div class="form-group">
							<label class="bmd-label-floating">NewsTitle(Hindi)</label>
							<input class="form-control" type="text" formControlName="newsTitleHindi"
								[(ngModel)]="singleNews.newsTitleHindi">
						</div>

						<div class="form-group">
							<select class="browser-default custom-select custom-select-md mb-1"
								formControlName="categoryId" *ngIf="singleNews.newsCategoryId"
								[(ngModel)]="singleNews.newsCategoryId">
								<option selected="selected" disabled="disabled" value="">Choose category</option>
								<option *ngFor="let category of category_array" value="{{category.categoryId}}">
									{{category.categoryTitle}}
								</option>
							</select>
						</div>

						<div class="form-group">
							<select class="browser-default custom-select custom-select-md mb-1"
								formControlName="newsType" *ngIf="singleNews.newsType"
								[(ngModel)]="singleNews.newsType">
								<option selected="selected" disabled="disabled" value="">Choose Template</option>
								<option value="shortnews">Short News</option>
								<option value="twoslides">Two Slides</option>
								<option value="multipleslides">Multiple Slides</option>
							</select>
						</div>


						<div class="form-group">
							<div class="form-group">
								<ckeditor formControlName="newsEnglish" [(ngModel)]="singleNews.newsEnglish"
									[config]="config">
								</ckeditor>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group">
								<ckeditor formControlName="newsHindi" [(ngModel)]="singleNews.newsHindi"
									[config]="config">
								</ckeditor>
							</div>
						</div>
						<div class="col-md-6">
							<input type="file" formControlName="newsImage" (change)="addFile($event)"><br><br>
						</div>
						<div class="col-md-6" *ngIf="url">
							<img [src]="url" height="50px" width="50px">
						</div>
						<div class="col-md-6" *ngIf="!url">
							<img src="{{mediaPath}}{{singleNews.newsImage}}" height="100px" width="100px">
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-primary mb-5" data-dismiss="modal"
							(click)="updateCat(editnews_form.value)">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>