<div class="container">
	<div class="row">

		<div class="col-md-12">

			<h3 align="center">Add News</h3><br>
			<!-- add category form-->
			<form [formGroup]="news_form" (ngSubmit)="addNews()">

				<div class="row">
					<div class="col-md-4">
						<select formControlName="categoryId" class="form-control form-control-sm">
							<option selected="selected" disabled="disabled" value="">Choose category</option>
							<option *ngFor="let category of category_array" value="{{category.categoryId}}">
								{{category.categoryTitle}}
							</option>
						</select>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input type="file" accept=".jpeg, .jpg, .png, .gif" formControlName="newsImage"
								name="categoryImage" required="required" (change)="news_image($event)">
						</div>
					</div>
					<!-- <div class="col-md-4">
						<select formControlName="categoryId" class="form-control form-control-sm">
							<option selected="selected" disabled="disabled" value="">Choose Post Template</option>
							<option>Short News</option>
							<option>Two Slides</option>
							<option>Multiple Slides</option>
						</select>
					</div> -->

				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="comment">News Title (English):</label>
							<textarea class="form-control" formControlName="newsTitleEnglish" name="categoryTitle"
								required="required" placeholder="News Title (English)" rows="3" id="comment"></textarea>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="comment">News Title (Hindi):</label>
							<textarea class="form-control" formControlName="newsTitleHindi" name="categoryTitle"
								required="required" placeholder="News Title (Hindi)" rows="3" id="comment"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						News (English):<br>
						<ckeditor formControlName="newsEnglish" [config]="config"></ckeditor><br><br>
						<!-- <textarea formControlName="newsEnglish" placeholder="News (English)"></textarea><br><br> -->
					</div>
					<div class="col-md-6">
						News (Hindi):<br>
						<ckeditor formControlName="newsHindi" [config]="config"></ckeditor><br><br>
					</div>
				</div>


				<input type="submit" name="categories_submit" [disabled]="!news_form.valid" class="btn btn-primary">
			</form>
		</div>

		<div class="col-md-12">
			<h3 align="center">All News</h3><br>
			<table border="1" class="table table-responsive">
				<thead>
					<th>Title (EN)</th>
					<th>News (EN)</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>News Status</th>
				</thead>
				<tbody>
					<tr *ngFor="let news of news_array | paginate: { itemsPerPage: 5, currentPage: p }">
						<td>{{news.newsTitleEnglish}}</td>
						<td>
							<div [innerHTML]="news.newsEnglish"></div>
						</td>
						<td><i class="fas fa-edit" data-toggle="modal" data-target="#myModal" (click)="editNews(news)"
								aria-hidden="true"></i></td>
						<td><i class="fas fa-trash" (click)="deleteNews(news.newsId)" aria-hidden="true"></i></td>
						<td>{{news.isApproved}}</td>
					</tr>
				</tbody>
				<pagination-controls (pageChange)="p = $event"></pagination-controls>

			</table>
		</div>



	</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<h5>Update News</h5>
				<form [formGroup]="editnews_form" *ngIf="singleNews">
					<input type="text" id="hey" hidden value="{{singleNews.newsId}}">

					<div class="form-group">
						<label for="usr">Title (En):</label>
						<input class="form-control form-control-sm" type="text" formControlName="newsTitleEnglish"
							[(ngModel)]="singleNews.newsTitleEnglish">
					</div>

					<div class="form-group">
						<label for="usr">Title (Hindi):</label>
						<input class="form-control form-control-sm" type="text" formControlName="newsTitleHindi"
							[(ngModel)]="singleNews.newsTitleHindi">
					</div>

					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select custom-select-md mb-1"
								formControlName="categoryId" *ngIf="singleNews.newsCategoryId"
								[(ngModel)]="singleNews.newsCategoryId">
								<option selected="selected" disabled="disabled" value="">Choose category</option>
								<option *ngFor="let category of category_array" value="{{category.categoryId}}">
									{{category.categoryTitle}}
								</option>
							</select><br><br>
						</div>
					</div>

					News (En):
					<ckeditor formControlName="newsEnglish" [(ngModel)]="singleNews.newsEnglish" [config]="config">
					</ckeditor><br><br>

					News (En):
					<ckeditor formControlName="newsHindi" [(ngModel)]="singleNews.newsHindi" [config]="config">
					</ckeditor><br><br>
					<div class="col-md-6">
						<input type="file" formControlName="newsImage" (change)="addFile($event)"><br><br>
					</div>
					<div class="col-md-6" *ngIf="url">
						<img [src]="url" height="50px" width="50px">
					</div>
					<div class="col-md-6" *ngIf="!url">
						<img src="{{mediaPath}}{{singleNews.newsImage}}" height="100px" width="100px">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="updateCat(editnews_form.value)">Update</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal"
					(click)="resetUpdateForm()">Close</button>
			</div>
		</div>
	</div>
</div>