<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-warning card-header-icon">
				<div class="card-icon">
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<h3 class="card-title">Total Users {{userCount}}</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<a style="cursor: pointer;color: #cb293f" routerLink="/user-status">View Details</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header card-header-warning card-header-icon">
				<div class="card-icon">
					<i class="fa fa-newspaper-o"></i>
				</div>
				<h3 class="card-title">Total News Post {{postCount}}</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<a style="cursor: pointer;color: #cb293f" routerLink="/trivia-posts">View Details</a>
				</div>
			</div>
		</div>
	</div>
</div>
<button class="btn btn-primary mb-5" style="float: right" routerLink="/trivia-posts">View All</button>
<div class="card" id="allRecords">
	<div class="card-header card-header-primary">
		<h4 class="card-title ">Latest Trivia Posts</h4>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Sr. No.</th>
					<th>Category</th>
					<th>Title</th>
					<th>Date</th>
					<th>Post Views</th>
				</thead>
				<tbody>
					<tr *ngFor="let news of news_array | slice:0:5; let i=index">
						<td>{{i+1}}</td>
						<td>{{news.newsCategory}}</td>
						<td
							style="display: inline-block;width: 180px;white-space: nowrap;overflow: hidden !important;text-overflow:ellipsis;">
							{{news.newsTitleEnglish}}</td>
						<td>{{news.createdAt| date: 'short'}}</td>
						<td>{{news.views}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>